:root {
  --primary: rgb(78, 65, 146);
  --secondary: aliceblue;
  --bg-primary: rgb(235 233 243);
  font-size: 1rem;
  background-color: var(--bg-primary);
}
/* --------- Container Styles --------- */
.container {
  padding: 2rem;
  height: 100vh;
  min-width: 100vw;
}

/* --------- Form Styles --------- */
.form-container {
  height: 100%;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.form-container .header {
  font-size: 1.5rem;
}
.form-container .textfield {
  font-size: inherit;
  width: 100%;
  max-width: 300px;
  height: 50px;
  border-radius: 5px;
  border-style: solid;
  padding: 25px;
}
.form-container .submit-btn {
  font-size: inherit;
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary);
  color: var(--secondary);
  transition: all ease-in-out 200ms;
}
.form-container .submit-btn:hover {
  opacity: 0.9;
}

/* --------- Card Styles --------- */
.card-container {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card-container .header {
  font-size: 1.75rem;
  color: var(--primary);
}
.card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px var(--primary) solid;
  border-radius: 5px;
}
.card .title {
  font-size: 1.2rem;
  font-style: bold;
}
.card .card-details {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: inherit;
  gap: 10px;
  border-radius: inherit;
  transition: all ease-in-out 200ms;
}
.card .card-details:hover {
  background-color: var(--secondary);
}
.card .card-button {
  font-size: 1.2rem;
  width: 75px;
  height: inherit;
  background-color: var(--primary);
  color: var(--secondary);
  border: none;
  border-radius: 0 4px 4px 0;
  transition: all ease-in-out 200ms;
}
.card .card-button:hover {
  background-color: inherit;
  color: var(--primary);
}

/* --------- Floating Action Button --------- */
.add-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 1.5rem;
  height: 2.5em;
  width: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(78 65 146);
  color: aliceblue;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 3px 5px rgba(0, 0, 0, 0.23);
  transition: all ease-in-out 200ms;
}
.add-btn:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

/* --------- Old Code --------- */
.container-1 .submit-button {
  width: 7em;
  height: 40px;
  margin-top: 20px;
  border-style: none;
  border-radius: 20px;
  background-color: rgb(78, 65, 146);
  display: block;
  margin-left: 53%;
  font-size: 20px;
  color: aliceblue;
}

.resolve-button {
  width: 7em;
  height: 40px;
  margin-top: 20px;
  border-radius: 20px;
  background-color: rgb(78 65 146);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-left: 53%;
  font-size: 20px;
  color: aliceblue;
}

/* user div1,  user div2 is usedin div page */
.container-1 #user-div1 {
  display: flex;
  height: 15em;
  justify-content: center;
  align-items: center;
}
.container-1 #user-div2 {
  display: flex;
  width: 70%;
  height: 40px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4px;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
  border: 2px solid;
  border-radius: 25px;
}
/* resolve reply is text area tag in rsolve.php file*/
.container-1 .resolve-reply {
  width: 100%;
  margin-top: 20px;
  padding: 25px;
  border-radius: 10px;
}
/* */
.user-icon {
  font-size: 10em;
}
/* issue detail link is used on a tag this represent issue name in issue.php file
this link redirect us on issuedetail.php file*/
#detail-link {
  text-decoration: none;
  color: black;
}
@media only screen and (max-width: 578px) {
  .container {
    width: 90%;
  }
}
